<!DOCTYPE html>
<html>

<head>
  <title>交换SDP信息与ICE信息</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
  <meta charset="utf-8"/>
</head>

<body>
<button type="button" onclick="startVideo();">建立视频连接</button>
<br/>
<div>
  <video id="local-video" autoplay style="width: 240px; height: 180px;
    border: 1px solid black;"></video>
  <video id="remote-video" autoplay style="width: 240px; height: 180px;
    border: 1px solid black;"></video>
</div>
<p>

  <script>
    var user = Math.round(Math.random() * 1000) + ""
    var socketUrl = "ws://localhost:8080/msgServer/" + user;
    var socket = null
    var socketRead = false
    window.onload = function () {
      socket = new WebSocket(socketUrl)
      /**
       * 建立连接
       */
      socket.onopen = function () {
        socketRead = true
        console.log("连接成功...")
      }
      /**
       * 断开连接
       */
      socket.onclose = function (e) {
        socketRead = false
      }
      /**
       * 收到WebSocket服务端发送的数据
       */
      socket.onmessage = function (res) {
        var evt = JSON.parse(res.data)
        if (evt.type === 'offer') {
          onOffer(evt);
        } else if (evt.type === 'answer' && peerStarted) {
          onAnswer(evt);
        } else if (evt.type === 'candidate' && peerStarted) {
          onCandidate(evt);
        } else if (evt.type === 'bye' && peerStarted) {
          stop();
        }
      }
    }

    let localVideo = document.getElementById('local-video');
    let remoteVideo = document.getElementById('remote-video');
    let localStream = null;
    let peerConnection = null;
    let peerStarted = false;
    let mediaConstraints = {
      'mandatory': {
        'OfferToReceiveAudio': false,
        'OfferToReceiveVideo': true
      }
    };

    function onOffer(evt) {
      setOffer(evt);
      sendAnswer(evt);
      peerStarted = true
    }

    function onAnswer(evt) {
      setAnswer(evt);
    }

    function onCandidate(evt) {
      var candidate = new RTCIceCandidate({
        sdpMLineIndex: evt.sdpMLineIndex,
        sdpMid: evt.sdpMid, candidate: evt.candidate
      });
      peerConnection.addIceCandidate(candidate);
    }

    function sendSDP(sdp) {
      var text = JSON.stringify(sdp);
      socket.send(text)
    }

    function sendCandidate(candidate) {
      var text = JSON.stringify(candidate);
      socket.send(text)// socket发送
    }

    //---------------------- 视频处理 -----------------------
    function startVideo() {
      navigator.webkitGetUserMedia({video: true, audio: false},
        function (stream) {
          localStream = stream;
          localVideo.srcObject = stream;
          localVideo.play();
          localVideo.volume = 0;
        },
        function (error) { //error
          console.error('发生了一个错误: [错误代码：' + error.code + ']');
          return;
        });
    }

    function stopVideo() {
      localVideo.src = "";
      localStream.stop();
    }

    //---------------------- 处理连接 -----------------------
    function prepareNewConnection() {
      var pc_config = {"iceServers": []};
      var peer = null;
      try {
        peer = new webkitRTCPeerConnection(pc_config);
      } catch (e) {
        console.log("建立连接失败，错误：" + e.message);
      }

      // 发送所有ICE候选者给对方
      peer.onicecandidate = function (evt) {
        if (evt.candidate) {
          console.log(evt.candidate);
          sendCandidate({
            type: "candidate",
            sdpMLineIndex: evt.candidate.sdpMLineIndex,
            sdpMid: evt.candidate.sdpMid,
            candidate: evt.candidate.candidate
          });
        }
      };
      console.log('添加本地视频流...');
      peer.addStream(localStream);

      peer.addEventListener("addstream", onRemoteStreamAdded, false);
      peer.addEventListener("removestream", onRemoteStreamRemoved, false);

      // 当接收到远程视频流时，使用本地video元素进行显示
      function onRemoteStreamAdded(event) {
        remoteVideo.srcObject = event.stream;
      }

      // 当远程结束通信时，取消本地video元素中的显示
      function onRemoteStreamRemoved(event) {
        console.log("移除远程视频流");
        remoteVideo.src = "";
      }

      return peer;
    }

    function sendOffer() {
      peerConnection = prepareNewConnection();
      peerConnection.createOffer(function (sessionDescription) { //成功时调用
        peerConnection.setLocalDescription(sessionDescription);
        console.log("发送: SDP");
        console.log(sessionDescription);
        sendSDP(sessionDescription);
      }, function (err) {  //失败时调用
        console.log("创建Offer失败");
      }, mediaConstraints);
    }

    function setOffer(evt) {
      if (peerConnection) {
        console.error('peerConnection已存在!');
        return;
      }
      peerConnection = prepareNewConnection();
      peerConnection.setRemoteDescription(new RTCSessionDescription(evt));
    }

    function sendAnswer(evt) {
      console.log('发送Answer,创建远程会话描述...');
      if (!peerConnection) {
        console.error('peerConnection不存在!');
        return;
      }

      peerConnection.createAnswer(function (sessionDescription) {//成功时
        peerConnection.setLocalDescription(sessionDescription);
        console.log("发送: SDP");
        console.log(sessionDescription);
        sendSDP(sessionDescription);
      }, function () {                                             //失败时
        console.log("创建Answer失败");
      }, mediaConstraints);
    }

    function setAnswer(evt) {
      if (!peerConnection) {
        console.error('peerConnection不存在!');
        return;
      }
      peerConnection.setRemoteDescription(new RTCSessionDescription(evt));
    }

    //-------- 处理用户UI事件 -----
    // 开始建立连接
    function connect() {
      if (!peerStarted && localStream && socketRead) {
        sendOffer();
        peerStarted = true;
      } else {
        alert("请首先捕获本地视频数据.");
      }
    }

    // 停止连接
    function hangUp() {
      console.log("挂断.");
      stop();
    }

    function stop() {
      peerConnection.close();
      peerConnection = null;
      peerStarted = false;
    }
  </script>
</body>
</html>
